:root {
	--black: #000;
	--white: #fff;
	--blue: #2196f3;
	--grey: #757575;
	--cream: #f5f4fa;
}

body {
	font-family: 'Roboto', 'Raleway', sans-serif;
	color: var(--black);
	font-size: 14px;
}

.link {
	color: var(--black);
	font-weight: 500;
	text-decoration: none;
}

.link:hover {
	color: var(--blue);
}

.link[title] {
	color: var(--black);
}

.list-style > li {
	list-style-type: none;
}

.button-port {
	color: var(--black);
	background-color: var(--cream);
	border-style: none;
	border-radius: 4px;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	cursor: all-col-resize;
}

.button-port:hover {
	color: var(--white);
	background-color: var(--blue);
	cursor: pointer;
}

.button-index {
	color: var(--white);
	background-color: var(--blue);
	border-style: none;
	border-radius: 4px;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
}

.product-card-header {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.06em;
	line-height: 36px;
	margin: 20px 0 4px 24px;
}

.product-card-text {
	line-height: 30px;
	font-size: 16px;
	font-weight: 400;
	color: var(--grey);
	margin: 0 0 0 24px;
}
